<?xml version="1.0" encoding="UTF-8"?>  
   <!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
           "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<!-- Configuração Hibernate  -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/biblioteca</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>

		<!-- Configuração Hibernate  Envers-->
		<!--  
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-insert"/>
	    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-update"/>
	    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-delete"/>
	    <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-update"/>
	    <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-remove"/>
	    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-collection-recreate"/>
		-->
	</session-factory>
</hibernate-configuration>  